<a href="https://colab.research.google.com/github/Farrzz98/myproject2/blob/main/Multiple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Multiple Linear Regression

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data_set = pd.read_csv('https://trello-attachments.s3.amazonaws.com/60596dc01945760f799067c1/60b5bc489a09731a6e9ddfc1/ed38801a05ce72ffb48076f22420c0e2/Startups_Data.csv')
data_set.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
data_set.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [ ]:
# Extracting Independent and Dependent Variable
x = data_set.iloc[:,:-1].values
y = data_set.Profit.values

In [ ]:
# Encoding Dummy Variable
# LabelEncoder  OneHotEncoder   ColumnTransformer

from sklearn.preprocessing import LabelEncoder , OneHotEncoder
from sklearn.compose import ColumnTransformer

label_encoder = LabelEncoder()

x[:,3] = label_encoder.fit_transform(x[:,3])

transformer = ColumnTransformer(
    transformers = [("OneHot" , OneHotEncoder() , [3])],
    remainder = 'passthrough' # do not apply anything to the remaining columns
)

x = transformer.fit_transform(x.tolist())
x = x.astype(int)

In [ ]:
x

#   california     florida     newYork   r&d    admin    market
#     0               0           1     165349  136897   471784

array([[     0,      0,      1, 165349, 136897, 471784],
       [     1,      0,      0, 162597, 151377, 443898],
       [     0,      1,      0, 153441, 101145, 407934],
       [     0,      0,      1, 144372, 118671, 383199],
       [     0,      1,      0, 142107,  91391, 366168],
       [     0,      0,      1, 131876,  99814, 362861],
       [     1,      0,      0, 134615, 147198, 127716],
       [     0,      1,      0, 130298, 145530, 323876],
       [     0,      0,      1, 120542, 148718, 311613],
       [     1,      0,      0, 123334, 108679, 304981],
       [     0,      1,      0, 101913, 110594, 229160],
       [     1,      0,      0, 100671,  91790, 249744],
       [     0,      1,      0,  93863, 127320, 249839],
       [     1,      0,      0,  91992, 135495, 252664],
       [     0,      1,      0, 119943, 156547, 256512],
       [     0,      0,      1, 114523, 122616, 261776],
       [     1,      0,      0,  78013, 121597, 264346],
       [     0,      0,      1,  94657, 145077, 282574],
       [     0,      1,      0,  91749, 114175, 294919],
       [     0,      0,      1,  86419, 153514,      0],
       [     1,      0,      0,  76253, 113867, 298664],
       [     0,      0,      1,  78389, 153773, 299737],
       [     0,      1,      0,  73994, 122782, 303319],
       [     0,      1,      0,  67532, 105751, 304768],
       [     0,      0,      1,  77044,  99281, 140574],
       [     1,      0,      0,  64664, 139553, 137962],
       [     0,      1,      0,  75328, 144135, 134050],
       [     0,      0,      1,  72107, 127864, 353183],
       [     0,      1,      0,  66051, 182645, 118148],
       [     0,      0,      1,  65605, 153032, 107138],
       [     0,      1,      0,  61994, 115641,  91131],
       [     0,      0,      1,  61136, 152701,  88218],
       [     1,      0,      0,  63408, 129219,  46085],
       [     0,      1,      0,  55493, 103057, 214634],
       [     1,      0,      0,  46426, 157693, 210797],
       [     0,      0,      1,  46014,  85047, 205517],
       [     0,      1,      0,  28663, 127056, 201126],
       [     1,      0,      0,  44069,  51283, 197029],
       [     0,      0,      1,  20229,  65947, 185265],
       [     1,      0,      0,  38558,  82982, 174999],
       [     1,      0,      0,  28754, 118546, 172795],
       [     0,      1,      0,  27892,  84710, 164470],
       [     1,      0,      0,  23640,  96189, 148001],
       [     0,      0,      1,  15505, 127382,  35534],
       [     1,      0,      0,  22177, 154806,  28334],
       [     0,      0,      1,   1000, 124153,   1903],
       [     0,      1,      0,   1315, 115816, 297114],
       [     1,      0,      0,      0, 135426,      0],
       [     0,      0,      1,    542,  51743,      0],
       [     1,      0,      0,      0, 116983,  45173]])

In [ ]:
# Split The Dataset Into Training and Testing Subset
from sklearn.model_selection import train_test_split
# test_size = 0.2 means we are using 20% of Data for testing
# and rest 80% of data will be used for Training
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
print(x.shape)
print(x_train.shape)
print(x_test.shape)

print(y.shape)
print(y_train.shape)
print(y_test.shape)

(50, 6)
(40, 6)
(10, 6)
(50,)
(40,)
(10,)

In [ ]:
# Fit The Model

from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [ ]:
# evaluate our model performance
from sklearn.metrics import r2_score
accuracy = r2_score(y_test , mlr.predict(x_test))
print(accuracy)

0.9347065984136423

In [ ]:
# Predict Profit

california = int(input('Are You From California. Enter 1 If Yes Else 0 : '))
florida = int(input('Are You From Florida. Enter 1 If Yes Else 0 : '))
newYork = int(input('Are You From New York. Enter 1 If Yes Else 0 : '))
r_d = int(input('Enter Research And Development Spend : '))
admin = int(input('Enter Administration Spend : '))
market = int(input('Enter Marketing Spend : '))

data = {'california':california , 'florida':florida ,
        'newYork':newYork , 'r_d':r_d ,
        'admin':admin , 'market':market}

user_input = pd.DataFrame(data,index=[0],columns=['california','florida','newYork',
                                        'r_d','admin','market'])

Are You From California. Enter 1 If Yes Else 0 : 1
Are You From Florida. Enter 1 If Yes Else 0 : 0
Are You From New York. Enter 1 If Yes Else 0 : 0
Enter Research And Development Spend : 200
Enter Administration Spend : 300
Enter Marketing Spend : 500

In [ ]:
user_input

   california  florida  newYork  r_d  admin  market
0           1        0        0  200    300     500

In [ ]:
predict_profit = mlr.predict(user_input)
print("Profit For Startup Will Be :",predict_profit[0])

Profit For Startup Will Be : 42737.39736398556

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:439: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"